{% extends "layout.html" %}

{% block content %}
<br>
<!-- <h3>Fundamental anaylsis</h3> -->

<div class="container">
    <p>
        Fundamental analysis uses the information of a company such as its balance sheet, income statements, etc. to compute its value.
    </p>
    <div class="row">
        <form class="form-inline" action="{{ url_for('fundumentals') }}" method="post">
            {{ form.hidden_tag() }}
            <div class=col-md-3>
                {{form.tinker.label }}
            </div>
            <div class='col-md-8'>
                {{ form.tinker(size=32) }}
            </div>
            <div class='col-md-3'>
                {{ form.submit() }}
            </div>
        </form>
            

        </div>
    </div>
</div>
<br>

<div class=page>
    {%if tables %}
        {% for table in tables %}
            {{columns[loop.index]}}
                {{ table|safe }}
        {% endfor %}
    {% endif %}
</div>
{% endblock %} 